* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
    z-index: 999;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
}

nav a:hover{
    color: #e7e7e7;
    z-index: 999;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #ff6b6b, #f06595, #ff9f43, #1dd1a1, #54a0ff, #a55eea, #ff6b6b);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.tag-box .tag:hover{
    color: #0f60e4;
}

.content h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.420);
}

.description{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: gray;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-github{
    text-decoration: none;
    border: 1px solid #8b96ff;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}

.btn-github:hover{
    background-color: #ffffff;
}

.btn-linkedin{
    text-decoration: none;
    border: 1px solid #8b96ff;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}

.btn-linkedin:hover{
    background-color: #ffffff;
}

.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}

/* .about{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* Responsive Styles */
@media (max-width: 1300px) {
    header{
        padding: 1rem 0.5rem;
    }
    .content{
        margin-top: 85%;
    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

@media (max-width: 768px) {
    header{
        padding: 1rem 0.1rem;
    }
    nav{
        display: none;
    }
    header h1{
        font-size: 2rem;
    }
    .content{
        margin-top: 25rem;
    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .content{
        max-width: 30rem;
        margin-left: 10%;
    }

    .tag-box{
        width: 12rem;
    }

    .content h1{
        font-size: 2.5rem;;
    }

    .description{
        font-size: 1rem;
    }

    .btn-github{
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
    }

    .btn-linkedin{
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
    }
}